
@{
    ViewBag.Title = "Home";
}

<h2>Grid</h2>
<a href="~/examples/grid/ajax-sourced-data.html" target="_blank">Ajax Sourced Data</a>
<a href="~/examples/grid/bootstrap-grid-inline-edit.html" target="_blank">Inline Editing</a>

