
@{
    ViewBag.Title = "Home";
}

<h2>Grid</h2>
<ul>
    <li><a href="~/examples/grid/ajax-sourced-data.html" target="_blank">Ajax Sourced Data</a></li>
    <li><a href="~/examples/grid/bootstrap-grid-inline-edit.html" target="_blank">Inline Editing</a></li>
    <li><a href="~/examples/grid/nested-jquery-grids.html" target="_blank">Nested Grids</a></li>
    <li><a href="~/examples/grid/connected-jquery-grids.html" target="_blank">Connected Grids</a></li>
    <li><a href="~/examples/grid/grouping.html" target="_blank">Grouping</a></li>
</ul>

<h2>Tree</h2>
<ul>
    <li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
    <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
    <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>
</ul>


